llama-index
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
llama-index-embeddings-langchain
llama-index-retrievers-bm25
langchain 
langchain-community
langchain-qdrant
fastembed
llama-index-llms-ollama
llama-index-llms-huggingface
chromadb
langgraph
rich
pandas
numpy
streamlit
llama-index-llms-openrouter
openpyxl
tiktokensss